$color-primary: #fd7f34;
$color-secondary: black;
$menu-item-color: #fff;
$menu-item-border: 1px solid black;
$button-color-primary: black;
$active-menu-item-color: ghostwhite;
$a1-level-color: lime;
$a2-level-color: limegreen;
$b1-level-color: rgba(245, 212, 29, 0.842);
$b2-level-color: orange;
$c1-level-color: skyblue;
$c2-level-color: rgb(6, 136, 168);
$success-color: #4bb544;
$error-color: #cc3333;
