<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class="page">
    <header class="header">
      <div class=" header__container">
        <a class="header__logo logo" href="#"></a>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Главная</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Учебник</a>
            </li>
            <li class="menu__item">
              <a class="menu__link submenu-title" href="#">Игры</a>
              <ul class="submenu__list">
                <li>
                  <a class="submenu__link" href="#">Аудиовызов</a>
                </li>
                <li>
                  <a class="submenu__link" href="#">Спринт</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Статистика</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">О команде</a>
            </li>
          </ul>
        </nav>
        <button class="header__theme-btn btn" type="button">Изменить тему</button>
        <button class="header__auth-btn btn" type="button">Войти</button>
      </div>
    </header>
    <main class="main">
      <section class="homepage">
        <div class="homepage__container container">
          <div class="homepage__about">
            <div class="about__app">
              <h2 class="homepage__title title">О приложении</h2>
              <p class="homepage__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae adipisci
                architecto commodi nobis. Eum accusantium quae nobis ipsam amet, quo dignissimos fuga quod distinctio
                soluta, asperiores deserunt impedit odit?
              </p>
              <button class="homepage__btn btn">
                Смотреть
              </button>
            </div>
            <div class="about__team">
              <h2 class="homepage__title title">О команде</h2>
              <p class="homepage__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae adipisci
                architecto commodi nobis. Eum accusantium quae nobis ipsam amet, quo dignissimos fuga quod distinctio
                soluta, asperiores deserunt impedit odit?
              </p>
              <button class="homepage__btn btn">
                Смотреть
              </button>
            </div>
            <nav class="homepage__nav">
              <button class="homepage__nav-btn"></button>
              <button class="homepage__nav-btn"></button>
            </nav>
          </div>
          <div class="homepage__img">
          </div>
        </div>
      </section>
      <section class="textbook">
        <div class="textbook__container container">
          <div class="textbook__workspace">
            <h2 class="textbook__title title">Учебник</h2>
            <a class="textbook__set-level"> Выберите уровень</a>
            <ul class="textbook__level-list">
              <li class="textbook__level-item">
                <button>
                  <span>Elementary</span>
                  <span>A1</span>
                </button>
              </li>
              <li class="textbook__level-item">
                <button>
                  <span>Pre-Intermediate</span>
                  <span>A2</span>
                </button>
              </li>
              <li class="textbook__level-item">
                <button>
                  <span>Intermediate</span>
                  <span>B1</span>
                </button>
              </li>
              <li class="textbook__level-item">
                <button>
                  <span>Upper-Intermediate</span>
                  <span>B2</span>
                </button>
              </li>
              <li class="textbook__level-item">
                <button>
                  <span>Advanced</span>
                  <span>C1</span>
                </button>
              </li>
              <li class="textbook__level-item">
                <button>
                  <span>Proficiency</span>
                  <span>C2</span>
                </button>
              </li>
            </ul>
            <button class="textbook__set-btn btn" type="button">Сложные слова</button>
            <button class="textbook__set-btn btn" type="button">Настройки</button>
            <button class="textbook__minigames-link">Миниигры</button>
            <h1 class="textbook__subtitle">Слова</h1>
            <div class="textbook__words">
              <a href="" class="textbook__link">
                <span class="textbook__word">Word</span>
                <span class="textbook__translate">Слово</span>
              </a>
            </div>
          </div>
          <div class="textbook__card card">
            <div class="card__img"></div>
            <div class="card__content">
              <div class="card__main">
                <h2 class="card__word">Word</h2>
                <h3 class="card__translate">Слово</h3>
                <span class="card__transcription">[]</span>
                <button class="card__play" type="button"></button>
              </div>
              <button class="card__btn-set-compound btn">Добавить в сложные</button>
              <button class="card__btn-set-learned btn">Изучено</button>
              <div class="card-description">
                <h4 class="card__mean card-subtitle"> Значение </h3>
                  <p>Description</p>
                  <p>Описание</p>
                  <h4 class="card__example card-subtitle"> Пример </h3>
                    <p>Example</p>
                    <p>Пример</p>
                    <h4 class="card__statistic card-subtitle">Прогресс изучения</h4>
                    <ul class="card__statistic-list">
                      <li class="card__statistic-item">
                        <span class="card__statistic-new">Новое или Изучено</span>
                        <span class="card__statistic-counter">+ или -</span>
                      </li>
                      <li class="card__statistic-item">
                        <span class="card__statistic-game">Аудиовызов</span>
                        <span class="card__statistic-counter">Правильно: 0</span>
                        <span class="card__statistic-counter">Неправильно: 0</span>
                      </li>
                      <li class="card__statistic-item">
                        <span class="card__statistic-game">Спринт</span>
                        <span class="card__statistic-counter">Правильно: 0</span>
                        <span class="card__statistic-counter">Неправильно: 0</span>
                      </li>
                    </ul>
              </div>
            </div>
          </div>
          <nav class="textbook__pagination">
            <button class="textbook__btn-prev">Предыдущая</button>
            <span class="textbook__page-pointer">1</span>
            <button class="textbook__btn-next">Следующая</button>
          </nav>
        </div>
      </section>
    </main>
    <section class="auth">
      <div class="auth__shadow"></div>
      <div class="auth__container">
        <div class="auth__close"></div>
        <form class="auth__form form form--hidden" id="" action="#" autocomplete="on">
          <h1 class="form__title">Войти</h1>
          <div class="form__message form__message--error">Неправильное имя или пароль</div>
          <ul class="form__input-list">
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input class="form__input" id="email" type="email" autofocus placeholder="Email" required>
            </li>
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input type="password" class="form__input form__input--error" autofocus placeholder="Пароль" required>
            </li>
            <li class="form__input-item">
              <input type="checkbox" class="form__checkbox" value="showpassword">
              <label for="showpassword">Показать пароль</label>
            </li>
            <li class="form__input-item">
              <input type="checkbox" class="form__checkbox" value="loginkeeping">
              <label for="loginkeeping">Оставаться в системе</label>
            </li>
          </ul>
          <button class="form__btn" type="submit">Войти</button>
          <button class="form__btn" type="reset">Очистить</button>
          <p class="form__text">
            <a href="#" class="form__link">Забыли имя или пароль?</a>
          </p>
          <p class="form__text">Еще не зарегистрированы?
            <a href="#" class="form__link" id="link-create-account">Создать аккаунт</a>
          </p>
        </form>
        <form class="auth__form form" id="" action="#">
          <h1 class="form__title">Создать новый аккаунт</h1>
          <div class="form__avatar">
            <img class="form__avatar-img" id="preview" src="#" alt="">
          </div>
          <div class="form__message form__message--error">Неправильное имя или пароль</div>
          <ul class="form__input-list">
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input type="text" class="form__input" autofocus placeholder="Имя" required>
            </li>
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input type="email" class="form__input" autofocus placeholder="Email" required>
            </li>
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input type="password" class="form__input form__input--error" autofocus placeholder="Пароль">
            </li>
            <li class="form__input-item">
              <div class="form__input-error-message">Ошибка</div>
              <input type="password" class="form__input form__input--error" autofocus placeholder="Подтвердите пароль">
            </li>
            <li class="form__input-item">
              <input type="checkbox" class="form__checkbox" value="showpassword">
              <label for="showpassword">Показать пароль</label>
            </li>
            <li class="form__input-item">
              <input type="checkbox" class="form__checkbox" value="agree">
              <label for="agree">Я согласен на обработку моих персональных данных</label>
            </li>
            <li class="form__input-item">
              <div class="form__input-error-message">Тип файла не поддерживается</div>
              <input type="file" class="form__input form__input--file form__input--error" id="file" accept="image/*">
              <label for="file">Выберите файл</label>
            </li>
          </ul>
          <button class="form__btn" type="submit">Продолжить</button>
          <button class="form__btn" type="reset">Очистить</button>
          <p class="form__text">Уже есть аккаунт?
            <a href="#" class="form__link" id="link-login">Войти</a>
          </p>
        </form>
      </div>
    </section>
  </body>
</html>
