<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class="page">
    <header class="header">
      <div class=" header-container">
        <a class="header__logo logo" href="#"></a>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">Главная</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Учебник</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Словарь</a>
            </li>
            <li class="menu__item">
              <a class="menu__link submenu-title" href="#">Игры</a>
              <ul class="submenu__list">
                <li>
                  <a class="submenu__link" href="#">Аудиовызов</a>
                </li>
                <li>
                  <a class="submenu__link" href="#">Спринт</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Статистика</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">О команде</a>
            </li>
          </ul>
        </nav>
        <button class="header__theme-btn btn" type="button">Изменить тему</button>
        <button class="header__auth-btn btn" type="button">Войти</button>
      </div>
    </header>
    <main class="main">
      <section class="homepage">
        <div class="homepage-container container">
          <div class="homepage__about">
            <div class="about__app">
              <h2 class="homepage__title title">О приложении</h2>
              <p class="homepage__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae adipisci
                architecto commodi nobis. Eum accusantium quae nobis ipsam amet, quo dignissimos fuga quod distinctio
                soluta, asperiores deserunt impedit odit?
              </p>
              <button class="homepage__btn btn">
                Смотреть
              </button>
            </div>
            <div class="about__team">
              <h2 class="homepage__title title">О команде</h2>
              <p class="homepage__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae adipisci
                architecto commodi nobis. Eum accusantium quae nobis ipsam amet, quo dignissimos fuga quod distinctio
                soluta, asperiores deserunt impedit odit?
              </p>
              <button class="homepage__btn btn">
                Смотреть
              </button>
            </div>
            <nav class="homepage__nav">
              <button class="homepage__nav-btn"></button>
              <button class="homepage__nav-btn"></button>
            </nav>
          </div>
          <div class="homepage__img">
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
