.auth {
//   display: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(52, 54, 66, 0.9);
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    position: relative;
    width: 90%;
    max-width: 400px;
    background: #fff;
    cursor: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000;
    transform: translateY(-30px);
    transition: 0.3s ease-in-out;

    &--hidden {
      transform: translateY(0);
    }
  }

  &__form-wrapper {
  }

  &__close-form {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
  }

  &__form {
  }

  &__text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    color: #fff;
  }

  &__link {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
  }
}
