.auth {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../assets/noise_transparent.png) 0% 0%/125px repeat,
    radial-gradient(circle farthest-side at 0 0, #402613 0%, #956340 50%, #402613 100%) no-repeat, #211f20;
  cursor: pointer;

  &__container {
    position: relative;
    width: 90%;
    max-width: 400px;
    background: rgb(246, 202, 154);
    cursor: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px #000;
    transform: scale(0.75);
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;

    &.--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__close-form {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 18px;
    height: 18px;

    & svg {
      fill: #ffffff;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    color: #fff;
  }

  &__link {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
  }
}
