.card {
  align-self: center;

  &__img {
    object-fit: cover;
    height: 250px;
    background: rgb(187, 39, 39);
  }

  &__content {
  }

  &__main {
  }

  &__word {
  }

  &__translate {
  }

  &__transcription {
  }

  &__play {
  }

  &__btn-set-compound {
  }

  &__btn-set-learned {
  }

  &__mean {
  }

  &__example {
  }

  &__statistic {
  }

  &__statistic-list {
  }

  &__statistic-item {
  }

  &__statistic-new {
  }

  &__statistic-counter {
  }

  &__statistic-game {
  }
}

.card-description {
}

.card-subtitle {
}
