.card {
  // background-color: tomato;
  // background-color: aqua;
  display: flex;
  flex-flow: column;
  width: 555px;
  border-radius: 10px;
  padding: 10px;

  &__img {
    object-fit: cover;
    height: 150px;
    border-radius: 10px;
    // background: $color-primary;
  }

  &__content {
    display: flex;
    flex-flow: column;
    gap: 5px;
  }

  &__main {
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin-top: 5px;
  }

  &__word {
  }

  &__translate {
  }

  &__transcription {
  }

  &__play {
  }

  &__btn-set-compound {
  }

  &__btn-set-learned {
  }

  &__mean {
    margin-top: 5px;
  }

  &__example {
  }

  &__statistic {
  }

  &__statistic-list {
  }

  &__statistic-item {
  }

  &__statistic-new {
  }

  &__statistic-counter {
  }

  &__statistic-game {
  }

  &__buttons {
    font-size: 14px;
    display: flex;
    gap: 5px;
  }
  &__user-buttons {
    display: flex;
    gap: 5px;
  }
}

.card-description {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.card-subtitle {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
