.games {
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__btn-wpapper {
    display: flex;
    justify-content: space-between;
    width: 380px;
  }

  &__sound-btn {
    display: inline-block;
    visibility: hidden;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    background-color: turquoise;
  }
  &__sound-btn:hover {
    opacity: 0.8;
  }

  &__screen-btn {
    display: inline-block;
    visibility: hidden;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    background-color: turquoise;
  }
  &__screen-btn:hover {
    opacity: 0.8;
  }

  &__close-btn {
    display: inline-block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    background-color: turquoise;
  }
  &__close-btn:hover {
    opacity: 0.8;
  }

  &__select {
    //display: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }

  &__audiochallenge-link {
  }

  &__level-list {
  }

  &__level-item {
  }

  &__level-input {
  }

  &__level-label {
  }

  &__level-title {
  }

  &__level-name {
  }

  &__start-screen {
    display: none;
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
  }

  &__instruction {
  }

  &__select-level-wrapper {
  }

  &__select-label {
  }

  &__select-level {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: auto;
    max-width: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    &:hover {
      border-color: #888;
    }

    &:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }

    option {
      font-weight: normal;
    }
  }

  &__btn-start {
  }

  &__audiochallenge {
  }

  &__sprint {
  }

  //   &__finish {
  //     display: none;
  //     //display: flex;
  //     position: absolute;
  //     z-index: 2;
  //     align-items: center;
  //     justify-content: center;
  //     width: 100%;
  //     max-height: 100%;
  //     margin: auto;
  //   }

  //   &__finish-container {
  //     display: flex;
  //     flex-direction: column;
  //     align-content: center;
  //     width: 100%;
  //     max-width: 700px;
  //     height: 350px;
  //     background: #fff;
  //     cursor: auto;
  //     border-radius: 10px;
  //     box-shadow: 0px 0px 20px 0px #000;
  //     transform: translateY(-30px);
  //     transition: 0.3s ease-in-out;
  //     padding: 25px;
  //     overflow: scroll;

  //     &--hidden {
  //       transform: translateY(0);
  //     }

  //     & > *:not(:last-child) {
  //       margin-bottom: 10px;
  //     }
  //   }

  //   &__finish-title {
  //     text-align: center;
  //   }

  //   &__answers-counters {
  //     display: flex;
  //     justify-content: space-around;
  //   }

  //   &__answers-right {
  //   }

  //   &__correct-count {
  //   }

  //   &__answers-wrong {
  //   }

  //   &__wrong-count {
  //   }

  //   &__finish-table {
  //   }

  //   &__finish-btn-wrapper {
  //     display: flex;
  //     justify-content: space-around;
  //   }

  //   &__restart-btn {
  //   }

  //   &__change-btn {
  //   }

  //   &__exit-btn {
  //   }

  &__finish {
    display: none;
    //display: flex;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    margin: auto;
  }

  &__finish-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    max-width: 700px;
    height: 350px;
    background: #fff;
    cursor: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000;
    transform: translateY(-30px);
    transition: 0.3s ease-in-out;
    padding: 25px;
    overflow: scroll;

    &--hidden {
      transform: translateY(0);
    }

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__finish-title {
    text-align: center;
  }

  &__answers-counters {
    display: flex;
    justify-content: space-around;
  }

  &__answers-right {
  }

  &__correct-count {
  }

  &__answers-wrong {
  }

  &__wrong-count {
  }

  &__finish-table {
  }

  &__finish-btn-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__restart-btn {
  }

  &__change-btn {
  }

  &__exit-btn {
  }
}

.game-link {
  &__title {
  }

  &__img-wrapper {
  }

  &__img {
  }
}
