.homepage {
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__about {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    row-gap: 25px;
  }

  &__app,
  &__team {
    display: flex;
    flex-direction: column;
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 25px;
  }

  &__text {
  }

  &__btn {
    width: 200px;
  }

  &__nav {
  }

  &__img-container {
    width: 550px;
  }
  &__img-promo {
    width: 100%;
    object-fit: cover;
  }
}

.about {
  &__app,
  &__team {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    row-gap: 20px;
  }
}
