.menu {
  &__list {
    display: flex;
    gap: 20px;
  }

  &__item {
    color: $menu-item-color;
    transition: all 0.1s linear;
    padding: 3px;
    &--active > a {
      color: $active-menu-item-color;
      text-shadow: 2px 2px black;
    }
  }

  &__item:hover > .submenu__list {
    visibility: visible;
    opacity: 1;
  }

  &__link {
    transition: all 0.1s linear;
    &:hover {
      color: $active-menu-item-color;
    }
  }
}

.submenu__list {
  margin-top: 5px;
}

.submenu__link {
  &:hover {
    color: $active-menu-item-color;
  }
}
