.footer {
  background-color: $color-primary;
  height: 110px;
  margin-top: auto;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
  }

  &__copyright {
  }

  &__team-list {
    display: flex;
    gap: 20px;
  }

  &__team-item {
  }

  &__team-link {
    transition: all 0.1s linear;
    &:hover {
      color: ghostwhite;
    }
  }

  &__rsschool-link {
  }
}
