.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

  &__logo {
  }

  &__menu {
  }

  &__theme-btn {
  }

  &__auth-btn {
  }
}
